{% load bootstrap4 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-primary mb-4 border rounded-bottom">
            <a class="navbar-brand text-light mr-5" href="{% url 'learning_logs:index' %}">Learning Log</a>

            <button class="navbar-toggler text-light" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>  
            
            <div class="collapse navbar-collapse container-fluid" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'learning_logs:topics' %}">Topics</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto align-items-center">
                    {% if user.is_authenticated %}
                        <li class="nav-item mr-2">
                            <span class="navbar-text text-light">Hello, {{user.username}}.</span>
                        </li>
                        {% block avatar %}
                        {% endblock %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'users:profile' user.id %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'users:logout' %}">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'users:register' %}">Register</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'users:login' %}">Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock %}
            </div>

            <div>
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>


