{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>Change your profile<h3>
{% endblock %}

{% block avatar %}
    <li class="nav-item">
        <img class="img-fluid rounded-circle" alt="avatar" src="{{ avatar_url }}">
    </li>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'users:profile' user_id %}" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form profile_form %}

        {% buttons %}
            <button class="btn btn-success btn-lg" role="button" name="submit">Update profile</button>
        {% endbuttons %}
    </form>
{% endblock content %}